html{
  background-color: var(--color-body-dark);
}

header{
  background-color: #FF1515;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 0 0 50px 50px;
}

#logo{
  height: 80px;
  margin: 15px
}

#pokeball{
  width: 50px;
  position: absolute;
  top: 83px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

